* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #222831;
}

main {
    padding: 50px;
    color: #fff;
    z-index: 1;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 40px;
    margin-top: 30px;
    color: #ffffff;
}

.titulo::after {
    content: '';
    width: 70px;
    height: 0.3rem;
    background-color: #FD7014;
    display: block;
    border-radius: 20px;
}

.container {
    background-color: #393E46;
    border-radius: 20px;
    width: 920px;
    padding: 20px;
    box-shadow: 1px solid ;
}

.codigoDoPedido{
    width: 100px;
}

h3 {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-top: 50px;
    cursor: default;
}

.codePedido {
    color: #FD7014;
    font-size: 20px;
    font-weight: 300;
    cursor: default;

    &:hover {
        text-decoration: underline;
    }
}

.info {
    display: flex;
}

.imgProduto {
    padding: 20px;
    width: 300px;
    border-radius: 17%;
}

.detalhesPedido {
    padding: 7px 10px 0px 30px;
}

.containerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 18px 0px 0px;
    margin-bottom: 40px;
}

.nomeProduto {
    font-size: 23px;
    padding: 30px 0px 30px 0px;
}

.infoPrecos {
    font-size: 20px;
    font-weight: 700;
}

.precoRiscado {
    text-decoration: line-through;
    color: #ccc;
}

.precoOficial {
    margin-top: 5px;
}

.quantidade {
    border: 1px solid #666666;
    background-color: transparent;
    width: 100px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
}

hr {
    border: 0.3px solid #7b7b7b;
}

.descricaoContainer{
    padding: 22px 0 20px 40px ;
}

.pedidoStatus {
    font-size: 18px;
    color: #FD7014;
    font-weight: 600;
}

.selectContainer,
.textContainer {
    padding: 5px;
    margin-bottom: 13px;
}


label {
    font-size: 18px;
}

#outro{
    font-size: 16px;
    padding-left: 17px;
}

/* estilização do container input */
.select,
.opcoes,
.input input {
    /* margin-left: 12px; */
    width: 357px;
    background-color: transparent;
    border: 1px solid #7B7B7B;
    color: #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
}

.input{
    margin-top: 0.5rem;
}

.input input::placeholder {
    color: #ccc;
}

.ast {
    color: #ccc;
}

.legenda {
    line-height: 1.5;
    text-align: justify;
    color: #999999;
    font-size: 13px;
    margin-left: 18px;
    margin-bottom: 20px;
    transform: translate(0, -10px);
}

.valorExtornado {
    margin-bottom: 7px;
}

p {
    margin: 0;
}

.voltar {
    display: flex;
    margin-top: 160px;
    color: #ccc;
}

.voltarIcon {
    font-family: sans-serif;
    font-size: 35px;
    margin-right: 10px;
}

.voltarText {
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: 0.3s;
    
    &:hover {
        text-decoration: underline;
    }
}

.btnConfirmar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#confirmarSolicitacao{
    color: #ccc;
    border: 1px solid #7B7B7B;
    width: 500px;
    padding: 12px;
    font-size: 15px;
    border-radius: 10px;
    transition: 0.3s;
    
    &:hover{
        background-color: #222831;
        border: 1px solid transparent;
    }
    
    &:focus{
        text-decoration: underline;
    }
}

.motivoSelect{
    position: relative;
}

.icons{
    display: flex;
    align-items: center;
}

.icons svg{
    width: 1.2rem;
}

.icons [data-lucide="chevron-up"]{
    display: none;
}

#motivo:checked + .select,
#metodo:checked + .select{
    border: 1px solid #5d5d5d;
}

#motivo:checked + .select .icons [data-lucide="chevron-down"],
#metodo:checked + .select .icons [data-lucide="chevron-down"]/*  atributo especifico */{
    display: none;
}

#motivo:checked + .select .icons [data-lucide="chevron-up"],
#metodo:checked + .select .icons [data-lucide="chevron-up"]{
    display: block;
}

#motivo,
#metodo{/*  esconder a caixa e fazer com que seja clicavel em qlqr lugar do label */
    all: unset;
    width: 48%;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    
    inset: 0;
}

.input input{
    padding: 9px;
}


.select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
    font-size: 16px;
    padding: 9px;
}

.opcoes{

    display: none;

    padding: 0;
    margin: 0;
    border: 1px solid #5d5d5d;
}

.opcao,
.opcaoMetodo{
    display: flex;
    align-items: center;
    
    background-color: transparent;
    gap: 12px;
    font-size: 16px;
    border-bottom: 1px solid #5d5d5d; /* cor border bottom opcao */
    padding: 10px;
    width: 100%;
    transition: 0.2s;
    position: relative;
}

.opcao:has(input:checked),
.opcao:hover,
.opcaoMetodo:has(input:checked),
.opcaoMetodo:hover{
    background-color: #222831;
    border-bottom: 1px solid #222831;
}

/* .opcao:has(input:focus){
    outline: 1px solid #222831;
} */

.opcao:first-child,
.opcaoMeotdo:first-child{
    border-radius: 7px 7px 0 0;
}

.opcao:last-child,
.opcaoMetodo:last-child{
    border-bottom: 0px;
    border-radius: 0 0 7px 7px;
}

.opcao input[type="radio"],
.opcaoMetodo input[type="radio"]{
    all: unset;
    cursor: pointer;
    position: absolute;
    inset: 0;
}

.motivoSelect:has(#motivo:checked) + .opcoes,
.motivoSelect:has(#metodo:checked) + .opcoes{
    display: block;
}

#estaSelecionado,
#estaSelecionadoMetodo{
    font-size: 16px;
    margin-left: 10px;
    color: #ccc;
}

.selectContainer:has(.opcao input:checked) #estaSelecionado,
.selectContainer:has(.opcaoMetodo input:checked) #estaSelecionado{
    color: #fff;
}

#eventBtnConfirmar{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 999;
}

.containerModal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.47);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popContainer{
    display: flex;
    flex-direction: column;
    background-color: #454E59;
    width: 700px;
    height: 500px;
    border-radius: 50px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#solicitacaoCancelada{
    margin: 0;
}

.header h1{
    font-size: 27px;
    color: #fff;
    margin: 0;
}

.lineHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close{
    cursor: pointer;
    color: #888888;
    transform: translate(20px, -30px);
}

.acaoDesfeita{
    color: #ccc;
    font-size: 16px;
    margin-left: 13px;
}

.infoPedido{
    color: #fff;
    padding: 30px;
    font-size: 18px;
}

.pedidoCode{
    font-weight: 600;
}

.produtoNome{
    font-weight: 400;
    margin-left: 15px;
}

.btnSN{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.sn{
    color: #ccc;
    font-size: 20px;
    box-shadow: 3px 3px 10px rgba(32, 32, 32, 1);
    width: 265px;
    height: 70px;
    border-radius: 13px;
}

#naoBtn{
    background-color: rgba(255, 35, 35, 0.85);
    transition: 0.3s;

    &:hover{
        background-color: #c80d0d;
    }
}

#simBtn{
    background-color: rgba(0, 184, 31, 0.85);
    transition: 0.3s;

    &:hover{
    background-color: #04911d;
    }
}

.popContainerProgress{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    flex-direction: column;
    background-color: #454E59;
    height: 170px;
    border-radius: 50px;;
    position: relative;
    /* border-bottom: 10px solid #FD7014; */
}

.barraProgresso{
    position: absolute;
    bottom: 0.2px;
    left: 24px;
    height: 10px;
    width: 91.6%;
}

.progresso{
    width: 100%;
    height: 100%;
    background-color: #FD7014;
    border-radius: 0 0 100px 100px;
}