* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main{
    background-color: #222831;
    padding: 30px;
}

.titulo {
    margin: 0 0 0 20px;
    margin-top: 12%;
}

.titulo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:40px;
    padding: 0;
    color: #ffffff;
}

.titulo h1::after{
    content: '';
    width: 70px;
    height: 0.3rem;
    border-radius: 20px;
    background-color: #FD7014;
    display: block;
}

.category {
    margin: 0 0 0 20px;
    margin-top: 3%;
    display: flex;
    padding: 0;
    margin-left: 50px;
}

.category ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    color: #ffffff;
    cursor: pointer;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
}

.category ul li {
    justify-content: space-between;
    display: inline-block;
    margin-left: 190px;
    display: inline-block;
    margin-left: 190px;
    position: relative;
}

.category ul li:nth-child(1){
    margin-left: 0px;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ee5208;
}

.nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ee5208;
}

.nav-link.active:hover::after {
    background-color: #ee5208;
}

.quadrado {
    background-color: #6d6d6d;
    width: 97%;
    height: 3px;
    margin: 20px;
    margin-top: 2px;
}

.content.exit {
    transform: translateX(-100%);
}

.nav-item {
    cursor: pointer;
    margin-right: 20px;
    color: white;
}

.product {
    background: #393e45;    
    display: flex;
    justify-content: space-between;
    margin-block-end: 60px;
    align-items: center;
    border-radius: 10px;
    width: 95%;
    height: 250px;
    object-fit: cover;
    margin: 20px 35px 50px;
}

img {
    max-width: 200px;
    max-height: 200px;
    margin: 0 10px 0 0;
    border-radius: 30px;
    margin: 20px;
}

.title h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    margin-bottom: 17px;
}

.preco{
    position: absolute;
    left: 310px;
    top: 72%;
    font-family: Arial, Helvetica, sans-serif;
    color: #cdcdcd;
    font-weight: bold;
    font-size: 17px;
    display: flex;
}

.preco2{
    position: absolute;
    left: 310px;
    top: 119%;
    font-family: Arial, Helvetica, sans-serif;
    color: #cdcdcd;
    font-weight: bold;
    font-size: 17px;
    display: flex;
}

.button-rastrear {
    background: #6d6d6d;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    width: 300px;
    font-size: 16px;
    margin: 0 20px;
    cursor: pointer;
    border: 1px solid #ee5208;
}

.button-rastrear:hover {
    transition: 0.5s;
    background-color: #393e46;
}

.status-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.status-button .texto1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;   
    border: 0;
    margin-right: 52px;
}

.status-button .texto2{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;   
    border: 0;
    margin-right: 65px;
}

.status-button ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
    color: #cdcdcd;
    cursor: pointer;
    justify-content: space-between;
    text-decoration: underline;
}

.status-button ul li:nth-child(1) {  
    position: absolute;
    left: 968px;
}

.status-button ul li{
    text-decoration: underline;
    display: inline;
    margin-right: 20px;
    justify-content: space-between;
}
