* {
    box-sizing: border-box;
}

main {
    background-color: #222831;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222831;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.profile-card {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(57, 62, 70, 0.3);
    border: 3px solid #393E46;
    width: 450px;
    height: 550px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.containerPic{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 160px;
    height: 160px;
    bottom: 500px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FD7014;
}

.profile-placeholder {
    width: 100%;
    height: 100%;
    background: url('../../img/logo-katchau-removebg-preview.png') center/cover;
    background-color: #222831;
}

.editable {
    font-size: 28px;
    color: #ffff;
    cursor: pointer;
}

.hidden {
    display: none;
}

.link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-top: 15px;
    color: #EEEEEE;
}

.iconsProfile {
    font-size: 150px;
    margin-right: 15px;
    color: #FD7014;
}

.link span {
    font-size: 20px;
}

.link:hover {
    color: #FD7014;
}

a {
    text-decoration: none;
    color: inherit;
}

.search-icon {
    color: #000;
}

.icon-footer {
    margin-right: 10px;
}

.account-container img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #000;
}

.username input {
    width: 200px;
    font-size: 17px;
    caret-color: #fdfdfd;
    color: #ffff;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FD7014;
}

.link{
    margin-bottom: 30px;
}

.buttons{
    margin-top: 10px;
    margin-left: 40px;
}

.buttons .link i{
    font-size: 30px;
}

.buttons .link span{
    font-size: 23px;
}

.voltar{
    display: flex;
    margin-top: 160px;
    color: #ccc;
}

.voltarIcon{
    font-family: sans-serif;
    font-size: 35px;
    margin-right: 10px;
}

.voltarText{
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: 0.3s;

    &:hover{
        text-decoration: underline;
    }
}