.rating {
  direction: rtl; /* Inverte a direção para facilitar a seleção */
}

.rating > input {
  display: none; /* Esconde os inputs de rádio */
}

.rating > label {
  float: right;
  cursor: pointer;
  font-size: 30px; /* Tamanho das estrelas */
}

/* Cor padrão das estrelas */
.rating > label > svg {
  fill: #ff9e0b; /* Cor padrão das estrelas */
  transition: fill 0.3s ease; /* Transição suave */
}

/* Efeito de hover para as estrelas */
.rating > label:hover > svg,
.rating > label:hover ~ label > svg {
  fill: #ff9e0b; /* Cor ao passar o mouse */
}

/* Estrelas selecionadas */
.rating > input:checked ~ label > svg {
  fill: #ffa723; /* Cor das estrelas quando selecionadas */
}

/* Para garantir que as estrelas à esquerda da estrela clicada fiquem coloridas */
.rating > input:checked + label > svg,
.rating > input:checked ~ label > svg {
  fill: #ffa723; /* Cor das estrelas quando selecionadas */
}

/* Para as estrelas não selecionadas à direita da estrela clicada */
.rating > input:checked + label ~ label > svg {
  fill: #666; /* Cor padrão para estrelas não selecionadas */
}