* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #222831;
}

main {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #393E46;
    width: 650px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 2px 2px 25px #f8802f;
    border: 1px solid #232629;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    font-weight: bold;
    font-size: 20px;
}

.header h1::after {
    content: '';
    display: block;
    width: 140px;
    height: 6px;
    border-radius: 20px;
    background-color: #FD7014;
    margin-top: 5px;
    margin-bottom: 0px;
}

form {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.inputContainers {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    margin-bottom: 20px;
}

.input input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgba(253, 112, 20, 0.3);
    background-color: #CCCCCC;
    text-indent: 25px;
    font-size: 16px;
    outline: none;
    box-shadow: 1px 1px 8px rgba(248, 128, 47, 0.7);
    color: #323232;
}

input::placeholder {
    color: #454545;
}

.input #password {
    margin-bottom: 3px;
}

.icon-input {
    margin-top: 6px;
    margin-left: 260px;
    position: absolute;
    color: #555555;
}

.lembrardemim {
    color: #ffff;
}

.esqueceusenha {
    color: #FD7014;
    text-decoration: underline;
    margin-bottom: 30px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-options {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555555;
    border: none;
    margin-top: 5px;
    padding: 13px;
    border-radius: 100%;
    color: #b0b2b4;
}

.btn-options i {
    font-size: 22px;
}

.orOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.orLine {
    width: 180px;
    height: 1px;
    background-color: #888888;
    border: none;
}

.or {
    padding: 0px 12px 0px 12px;
    font-size: 17px;
    color: #b0b2b4;
}

.btn-options:hover {
    background-color: #454545;
    transition: 0.3s;
}

.bxl-google:hover {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}

.bxl-microsoft:hover {
    background: conic-gradient(#F25022 90deg, #7FBA00 90deg 180deg, #00A4EF 180deg 270deg, #FFB900 270deg 360deg) 100% 100%/100% 100% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition: 0.3s ease-in-out;
}

.bxl-linkedin:hover {
    color: #00A4EF;
    transition: 0.3s;
}